.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickimg
{
  width: 100%;
  height: 500px;
  display: block;
  background-size: cover;
  background-position: top;
}

.siteHeader
{
  /*display: flex;*/
  margin: 0px;
  padding: 0px;
  border: 0px;

}

html,body
{
	margin: 0;
	padding: 0;
	width: 100%;
}